.backgroundStyle {
  background-image: url('./images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.backgroundLogin {
  justify-content: center;
  align-items: center;
}

.appContainer {
  flex: 1;
  overflow: auto;
}

.header {
  font-size: 3.0rem;
  font-weight: bold;
  transition: transform 0.3s ease;
  display: flex;
}

.footer {
  margin-bottom: 5rem;
}

.studentListContainer {
  flex: 1;
  overflow-y: auto; /* Enables vertical scrolling */
  overflow-x: hidden; /* Hides horizontal overflow */
  padding: 20px 20px 50px 20px;
  border-radius: 10px;
}

.studentDiv {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.studentDiv:hover .studentName,
.studentDiv:hover .parentName {
  text-decoration: underline; /* Underline text on hover */
  color: #026bdb;
}

.studentName {
  font-size: 1.2rem;
  font-weight: 600;
  margin: auto 0 5px;
}

.parentName {
  font-size: 0.9rem;
  margin: 0;
}

.inputField {
  padding-top: 14px;
  padding-bottom: 14px;
  font-weight: 500;
  color: gray;
}

.icon {
  height: 3.0rem; /* Set height to match font size of the header */
  margin-left: 10px; /* Add some space between the header text and the icon */
}

.button {
  width: 140px;
}

.bigButton {
  width: 180px;
}

.smallButton {
  width: 110px;
}

.horizontallyCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchContainer {
  position: relative;
  width: 100%;
  margin-left: -20px;
}

.searchInput {
  font-size: 1.25em; /* Increase font size */
  border: 1px solid #808a93; /* Dark border */
  padding-right: 40px; /* Space for the search icon */
}

.searchButton {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 1.25em;
}
