.react-calendar {
  width: 100%;
  max-width: 795px;
  margin: 0 auto;
}

.react-calendar__tile {
  font-size: 20px;
  line-height: 1.125em;
  padding: 25px;
  border: 0.1px solid lightgray !important;
}

.react-calendar__navigation button {
  font-size: 24px;
}

.react-calendar__month-view__days__day--weekend {
  color: black; /* Set font color for weekends */
}


.lessonRecord, .resetRecord .paymentRecord, .textRecord {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.lessonRecord:hover, .resetRecord:hover, .paymentRecord:hover, .textRecord:hover {
  transform: scale(1.3);
}

.calendar-disabled {
  pointer-events: none; /* Disable mouse events */
}

.calendar-disabled::before {
  content: ''; /* Create a pseudo-element */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 1040; /* Same z-index as Bootstrap modal backdrop */
}
